*{
    padding: 0;/* define para o navegador, que o espaçamento a ser utilizado na página é igual a zero*/
    margin: 0;/*define o valor 0 como margem para a página*/
    box-sizing: border-box;/*o espaçamento de padding conta para dentro da caixa*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*define o tipo de fonte que será utilizada na página*/
  }
  header{
      background-color: rgb(132, 23, 119);
      color: aliceblue;
  padding: 15px;/*espaçamento entre o texto e as margens*/
  text-align: center;/*alinha o texto no centro da página*/
  border-bottom: rgb(132, 23, 119) 3px solid; /*adiciona uma borda inferior com 3 pixels de espessura*/
      
     
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  /*Grid de produtos*/
  .container {
  background-color:rgb(234, 153, 224);/*muda a cor de fundo da seção container*/
  min-height: 60hv;/*altura mínima da seção que deve ser de 60% da tela*/
  padding: 50px;/*espaçamento de 50px nas margens*/
  }
  
  .product-container{
  max-width: 1200px;/*largura máxima da divisão card*/
  margin: 0 auto;/* margem 0 nao altura e centralizar o conteúdo na horizontal*/
  }
  .card{ 
      width: 31%;/*largura do card em 31% do tamanho definido no product-container*/
  display: inline-block;/*posiciona os cards em linha*/
  
  
  }
  .product-image{
  height: 300px;/*altura da imagem*/
  width: 100%;/*ocupar 100% do espaço disponível no card*/
  background-position: center;
  background-size: cover;
  }
  #img-1{
      background-image: url(/imagem/tenis1.jpg)
  }
  
  #img-2{
      background-image: url(/imagem/tenis2.jpg);
  }
  
  #img-3{
      background-image: url(/imagem/tenis3.jpg);
  }
  
  #img-4{
      background-image: url(/imagem/tenis4.jpg);
  }
  
  #img-5{
      background-image: url(/imagem/tenis5.jpg);
  }
  
  #img-6{
      background-image: url(/imagem/tenis6.jpg);
  }
  
  h3{
  margin-bottom: 10px;
  color: black;
  font-size: 24px;
  }
  .card p {
  margin-bottom: 10px;
  }
  .btn{
    display:block;/*exibir o conteúdo no formato de bloco*/
    width: 100%;/*ocupar 100% do espaço disponível no card*/
    text-align: center;/*alinhar o texto no centro do espaço indicado pelo comando width*/
    text-transform: uppercase;/*exibe o texto em letra maiuscúlo*/
    text-decoration: none;/*remove o sublinhado*/
    background-color: rgb(132, 23, 119);/* altera a cor de fundo do display block*/
    color: aliceblue;/* muda a cor da fonte do texto*/
    padding: 15px;/* espaçamento ao redor do display block*/
    margin-bottom: 10px;/*adiciona uma margem abaixo do botao 10px*/
    border-radius: 10px;/*arredonda os cantos do botão*/
    
  }
.btn:hover {/* altera o comportamento do botão quando o cursor do mouse estiver sobre ele*/
    background-color: black; /*altera a cor de fundo do botão*/


 } 
footer {/* altera as configurações do rodapé da página*/
    background-color: rgb(61, 8, 55); /* altera a cor de fundo do rodapé*/
    text-align: center;/* centraliza o texto do rodapé*/
    padding: 80px; /*adiciona um espaçamento ao redor do rodapé*/
    color: aliceblue;/* altera a cor da fonte*/

}

